/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.splitpanes {
  .splitpanes__pane {
    overflow: auto;
    background-color: transparent !important;
  }

  .splitpanes__splitter {

  }

}

.splitpanes--vertical > .splitpanes__splitter {
  border-radius: 5px;
}

.splitpanes--horizontal > .splitpanes__splitter {
  border-radius: 5px;
}

.v-skeleton-loader .v-skeleton-loader__avatar {
  margin: 0 16px 0 0;
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
}

.v-skeleton-loader .v-skeleton-loader__text {
  margin: 4px 0 4px 0;
  height: 16px;
  border-radius: 16px;
}

.body-large {
  font-size: 16px;
  line-height: 1.5;
}

.body-regular {
  font-size: 14px;
  line-height: 1.5;
}

.body-small {
  font-size: 12px;
  line-height: 1.5;
}
